.post {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .post-header {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  .post-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .post-puntitos {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 450px;
  }
  .post-username {
    font-weight: bold;
  }
  .post-image {
    max-width: 100%;
    height: auto;
  }
  .post-caption {
    padding: 10px;
    font-size: 14px;
  }
  .post-footer {
    padding: 10px;
    font-size: 12px;
  }
  .post-icons {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
  }
  .post-icons i {
    margin-right: 10px;
  }
  body {
    background-color: black;
  }
